[submodule "www/chat"]
	path = chat
	url = https://github.com/remipassmoilesel/chipbox-minimalchatextreme
[submodule "www/upload"]
	path = upload
	url = https://github.com/remipassmoilesel/chipbox-simplephpupload
