[submodule "www/uploa"]
	path = www/upload
	url = https://github.com/remipassmoilesel/chipbox-simplephpupload
[submodule "www/cha"]
	path = www/chat
	url = https://github.com/remipassmoilesel/chipbox-minimalchatextreme
