[submodule "chat"]
	path = chat
	url = https://github.com/remipassmoilesel/chipbox-minimalchatextreme
[submodule "upload"]
	path = upload
	url = https://github.com/remipassmoilesel/chipbox-simplephpupload
